body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 2.5em;
  margin-top: 50px;
}

#excuse {
  color: #777;
  font-size: 1.5em;
  margin-top: 30px;
}

#generate-btn {
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 50px;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

#generate-btn:hover {
  background-color: #0062cc;
}
